.glitch-first {
  animation-name: glitch-firs;
}

.glitch-first-after::after {
  animation-name: glitch-first;
}

.glitch-first-before::before {
  animation-name: glitch-first;
}

.glitch-second {
  animation-name: glitch-second;
}

.glitch-second-after::after {
  animation-name: glitch-second;
}

.glitch-second-before::before {
  animation-name: glitch-second;
}

.move-animation {
  animation-name: move;
}

.move-animation-before::before {
  animation-name: move;
}

.move-animation-after::after {
  animation-name: move;
}

.body-light {
  animation-name: body-light;
}

.text-transform {
  animation-name: text-transform;
}

.slide-in-down-low {
  animation-name: slide-in-down-low;
}

.fade-in-down {
  animation-name: fade-in-down;
}

.fade-in-left {
  animation-name: fade-in-left;
}

.fade-in {
  animation-name: fade-in;
}

.fade-in-after::after {
  animation-name: fade-in;
}

.fade-in-scale {
  animation-name: fade-in-scale;
}

.bounce-in-up {
  animation-name: bounce-in-up;
}

@keyframes glitch-first {
  0% {
    clip: rect(102px, 40vw, 129px, 0);
  }
  5% {
    clip: rect(9px, 10vw, 27px, 0);
  }
  10% {
    clip: rect(72px, 12vw, 150px, 0);
  }
  15% {
    clip: rect(74px, 100vw, 146px, 0);
  }
  20% {
    clip: rect(121px, 50vw, 56px, 0);
  }
  25% {
    clip: rect(16px, 10vw, 53px, 0);
  }
  30% {
    clip: rect(140px, 30vw, 106px, 0);
  }
  35% {
    clip: rect(24px, 50vw, 39px, 0);
  }
  40% {
    clip: rect(2px, 40vw, 94px, 0);
  }
  45% {
    clip: rect(97px, 5vw, 126px, 0);
  }
  50% {
    clip: rect(14px, 30vw, 107px, 0);
  }
  55% {
    clip: rect(26px, 10vw, 114px, 0);
  }
  60% {
    clip: rect(34px, 60vw, 96px, 0);
  }
  65% {
    clip: rect(66px, 100vw, 32px, 0);
  }
  70% {
    clip: rect(7px, 80vw, 103px, 0);
  }
  75% {
    clip: rect(39px, 100vw, 75px, 0);
  }
  80% {
    clip: rect(39px, 50vw, 95px, 0);
  }
  85% {
    clip: rect(21px, 40vw, 4px, 0);
  }
  90% {
    clip: rect(69px, 100vw, 83px, 0);
  }
  95% {
    clip: rect(97px, 70vw, 68px, 0);
  }
  100% {
    clip: rect(69px, 100vw, 114px, 0);
  }
}

@keyframes glitch-second {
  0% {
    clip: rect(100px, 40vw, 98px, 0);
  }
  5% {
    clip: rect(26px, 30vw, 23px, 0);
  }
  10% {
    clip: rect(79px, 70vw, 62px, 0);
  }
  15% {
    clip: rect(44px, 50vw, 79px, 0);
  }
  20% {
    clip: rect(76px, 60vw, 122px, 0);
  }
  25% {
    clip: rect(84px, 7vw, 129px, 0);
  }
  30% {
    clip: rect(97px, 32vw, 87px, 0);
  }
  35% {
    clip: rect(105px, 14vw, 51px, 0);
  }
  40% {
    clip: rect(120px, 70vw, 50px, 0);
  }
  45% {
    clip: rect(125px, 60vw, 90px, 0);
  }
  50% {
    clip: rect(45px, 350vw, 87px, 0);
  }
  55% {
    clip: rect(0, 11vw, 103px, 0);
  }
  60% {
    clip: rect(140px, 48vw, 12px, 0);
  }
  65% {
    clip: rect(91px, 32vw, 48px, 0);
  }
  70% {
    clip: rect(108px, 79vw, 53px, 0);
  }
  75% {
    clip: rect(33px, 100vw, 21px, 0);
  }
  80% {
    clip: rect(102px, 10vw, 50px, 0);
  }
  85% {
    clip: rect(139px, 170vw, 26px, 0);
  }
  90% {
    clip: rect(57px, 90vw, 120px, 0);
  }
  95% {
    clip: rect(124px, 14vw, 137px, 0);
  }
  100% {
    clip: rect(61px, 5vw, 89px, 0);
  }
}

@keyframes body-light {
  30% {
    filter: invert(14%);
  }
  40% {
    filter: invert(10%);
  }
  50% {
    filter: invert(7%);
  }
  60% {
    filter: invert(10%);
  }
  70% {
    filter: invert(12%);
  }
  80% {
    filter: invert(9%);
  }
  90% {
    filter: invert(14%);
  }
  100% {
    filter: invert(11%);
  }
}

@keyframes move {
  10% {
    transform: translateX(10px);
    filter: blur(3px);
  }
  20% {
    transform: translateX(4px);
    filter: blur(0);
  }
  30% {
    transform: translateX(-5px) skew(0deg);
    filter: blur(3px);
  }
  40% {
    transform: translateX(7px);
    filter: blur(0);
  }
  50% {
    transform: translateX(3px);
  }
  60% {
    transform: translateX(2px);
    filter: blur(5px);
  }
  70% {
    transform: translateX(-2px);
    filter: blur(0);
  }
  80% {
    transform: translateX(3px);
    filter: blur(2px);
  }
  90% {
    transform: translateX(-3px);
  }
  100% {
    transform: translateX(3px);
  }
}

@keyframes text-transform {
  10% {
    transform: scale(1.2) skew(-45deg);
  }
  11% {
    transform: scale(1) skew(45deg);
  }

  70% {
    transform: scale(1) skew(-40deg);
    filter: blur(1px);
  }

  99% {
    transform: scale(1) skew(50deg);
  }

  100% {
    transform: scale(1) skew(-10deg);
    filter: blur(3px);
  }
}

@keyframes slide-in-down-low {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-10%);
  }
}

@keyframes fade-in-down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-in-scale {
  0% {
    opacity: 0;
    transform: scale(0.98);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes bounce-in-up {
  0%,
  60%,
  75%,
  90%,
  100% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    transform: translate3d(0, -20px, 0);
  }
  75% {
    transform: translate3d(0, 10px, 0);
  }
  90% {
    transform: translate3d(0, -5px, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
