@value tablet-viewport, mobile-viewport, mobile-s-viewport from "../../styles/breakpoints.css";

.card {
  composes: body-light from from '../../styles/animation.css';
  composes: move-animation-after from from '../../styles/animation.css';
  composes: move-animation-before from from '../../styles/animation.css';

  position: relative;

  display: flex;
  height: 406px;

  background-color: var(--contrast-color);

  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

.card::after,
.card::before {
  content: '';
  position: absolute;

  width: 100%;
  height: 100%;

  filter: blur(4px);

  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

.card::after {
  top: 2px;
  left: 2px;

  border: 1px solid red;
}

.card::before {
  top: -2px;
  left: -2px;

  border: 1px solid blue;
}

.text {
  composes: text-transform from from '../../styles/animation.css';

  margin: auto;

  font-size: 30px;
  font-weight: 700;
  color: var(--contrast-color);

  animation-duration: 5s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

@media tablet-viewport {
  .card {
    height: 400px;
  }

  .text {
    font-size: 22px;
  }
}

@media mobile-s-viewport {
  .card {
    height: 200px;
  }

  .text {
    font-size: 18px;
  }
}
