.wrapper {
  margin-top: calc(var(--md-indent) * 2);
  margin-bottom: calc(var(--md-indent) * 2);
}

.container {
  background-color: var(--contrast-color);
  border-radius: 6px;
}

.title {
  margin: 0;

  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--base-color);
}