@value tablet-viewport, mobile-viewport from "../../styles/breakpoints.css";

.modal {
  position: relative;

  align-self: flex-start;

  width: 90%;
  max-width: var(--desktop-m-width);
  min-width: 300px;
  margin: 0 auto;

  background-color: var(--contrast-color);

  box-sizing: border-box;

  outline: none;
}

.modalTop {
  composes: modal;

  margin-top: var(--xl-indent);
}

.modalCenter {
  composes: modal;

  margin: auto;
}

.modalBottom {
  composes: modal;

  margin: auto auto 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  z-index: 999;

  display: flex;

  width: 100%;
  height: 100vh;

  inset: 0px;

  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--background-color);

  scrollbar-width: auto;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-track-color);
}

.overlay::-webkit-scrollbar {
  height: var(--scrollbar-size);
  width: var(--scrollbar-size);
}

.overlay::-webkit-scrollbar-track {
  margin: var(--sm-indent) 0;

  background-color: var(--scrollbar-track-color);
  border-radius: var(--scrollbar-radius);
}

.overlay::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
  border-radius: var(--scrollbar-radius);
}

.noScrollOverlay {
  scrollbar-width: none;
}

.noScrollOverlay::-webkit-scrollbar {
  width: 0;
}

.closeBtn {
  --btn-size: 32px;
  position: absolute;
  top: calc(var(--btn-size) * -1);
  right: 0;

  align-self: flex-end;

  width: var(--btn-size);
  height: var(--btn-size);

  font-size: 0;

  cursor: pointer;

  background-color: transparent;

  border: none;
  box-shadow: none;

  outline: none;
}

.closeBtn::before,
.closeBtn::after {
  --line-width: calc(var(--btn-size) * 0.75);
  --line-height: calc(var(--btn-size) / 10);

  content: '';
  width: var(--line-width);
  height: var(--line-height);

  position: absolute;
  left: calc(50% - var(--line-width) / 2);
  top: calc(50% - var(--line-height) / 2);

  background-color: var(--contrast-color);

  border-radius: var(--line-height);
}

.closeBtn::before {
  transform: rotate(45deg);
}

.closeBtn::after {
  transform: rotate(-45deg);
}

.closeBtn:focus::before,
.closeBtn:focus::after,
.closeBtn:hover::before,
.closeBtn:hover::after {
  background-color: var(--accent-color);
}

.container {
  background-color: var(--background-color);

  outline: none;
}

.oneScreen {
  height: 100vh;
  min-height: 565px;
  max-height: 1400px;
}

.oneScreenTop {
  height: calc(100vh - 100px);
}

@media tablet-viewport {
  .modal {
    width: 100%;
  }

  .modalTop {
    margin-top: 40px;
  }

  .container {
    padding-left: var(--lg-indent);
    padding-right: var(--lg-indent);
  }

  .closeBtn {
    right: var(--lg-indent);
  }

  .oneScreen {
    height: auto;
    min-height: auto;
    max-height: 100%;
  }
  
  .oneScreenTop {
    height: auto;
  }
}

@media mobile-viewport {
  .modalTop {
    margin-top: 45px;
  }

  .closeBtn {
    --btn-size: 36px;
  }
}
