.rounded {
  border-radius: 6px;
}

.container {
  width: 100%;
  --swiper-theme-color: var(--base-color);
  --swiper-navigation-size: calc(var(--lg-indent) * 3);
}

.withPagination {
  padding-bottom: 50px;
}

.disabledButton {
  display: none !important;
}

.indent_sm {
  margin-top: var(--sm-indent);
  margin-bottom: var(--sm-indent);
}

.indent_md {
  margin-top: var(--md-indent);
  margin-bottom: var(--md-indent);
}

.indent_lg {
  margin-top: var(--lg-indent);
  margin-bottom: var(--lg-indent);
}

.nextButton,
.prevButton {
  position: absolute;
  top: 0 !important;
  z-index: 1 !important;

  width: calc(var(--lg-indent) * 3) !important;
  height: 100% !important;
  margin-top: 0 !important;

  outline: none;
}

.nextButton::after,
.prevButton::after {
  content: '' !important;

  width: calc(var(--lg-indent) * 3);
  height: calc(var(--lg-indent) * 3);

  background-image: url("chevron-round.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.nextButton:hover::after,
.prevButton:hover::after {
  opacity: 0.9;
}

.nextButton:active::after,
.prevButton:active::after {
  opacity: 0.7;
}

.nextButton {
  right: 0 !important;
}

.prevButton {
  left: 0 !important;
}

.prevButton::after {
  transform: scaleX(-1);
}
