:root {
  /* Colors */
  --base-color: #212121;
  --base-color-opacity: rgba(33, 33, 33, 0.3);
  --base-color-light: #757575;
  --contrast-color: #F9F9FC;
  --contrast-color-dark: #BDBDBD; 
  --accent-color: #03A9F4;
  --accent-color-dark: #0288D1;
  --accent-color-light: #B3E5FC;
  
  /* Sizes */
  /*!Breakpoints for media query locate at src/breakpoints.css */

  --mobile-width: 320px;
  --mobile-m-width: 460px;
  --tablet-width: 768px;
  --desktop-width: 1024px;
  --desktop-m-width: 1440px;

  /* Indents */
  --sm-indent: 12px;
  --md-indent: 18px;
  --lg-indent: 24px;

  /* Fonts */
  --base-font: 'Exo 2', 'Helvetica', 'Arial', sans-serif; 

  /* Background */
  --background-image: url('');
  --background-pattern: url('../img/dark_mosaic_@2X.png');

  /* Transition */
  --transition-duration: 0.2s;
  --transition-timing-function: ease;
  --transition-props: var(--transition-duration) var(--transition-timing-function);
}

/* Main rules */
html {
  overflow-x: hidden;
  margin-right: calc(-1 * (100vw - 100%));
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  font-family: var(--base-font);
  font-style: normal;
  color: var(--base-color);

  background-color: var(--accent-color);
  background-image:  var(--background-image), var(--background-pattern);
  background-size: cover, auto;
  background-attachment: fixed;
  background-repeat: no-repeat, repeat;
  /* background-blend-mode: multiply; */
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  border: 0;
}

@media (max-width: 1024px) {
  :root {
    --sm-indent: 8px;
    --md-indent: 14px;
    --lg-indent: 18px;
  }
}

@media (max-width: 768px) {
  :root {
    --sm-indent: 6px;
    --md-indent: 8px;
    --lg-indent: 12px;
  }
}