@value tablet-viewport, mobile-viewport from "../../styles/breakpoints.css";

.box {
  padding-right: var(--sm-indent);
}

.accordion {
  width: 100%;
}

.accordionButton {
  display: inline-flex;
  align-items: center;
  padding: 0;

  font-size: var(--sm-text);

  background-color: transparent;

  box-shadow: none;
  border: 0;

  fill: var(--accent-color-dark);

  outline: none;

  transition: 
  color var(--transition-props),
  fill var(--transition-props), 
  opacity var(--transition-props);
}

.accordionButton:hover:not(:active) {
  opacity: 0.7;
}

.accordionButton:focus {
  color: var(--base-color-light);
  fill: var(--accent-color-light);
}

.accordionButton span::after {
  content: '';

  display: block;
  
  width: 100%;
  height: 1px;

  background-image: linear-gradient(to right, var(--base-color) 0, var(--base-color) 2px, transparent 3px, transparent 4px);
  background-size: 4px 100%;
}

.accordionButton svg {
  align-self: flex-end;

  width: var(--sm-text);
  height: auto;
  margin-left: 0.5em;
  transform: scaleY(1);

  transition: transform var(--transition-props);
}

.buttonExpanded svg {
  transform: scaleY(-1);
}

.panel {
  padding-top: var(--sm-indent);
  overflow: hidden;
}

.panelExpanded {
  composes: fade-in from '../../styles/animation.css';

  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.trailerButton {
  composes: body-light from '../../styles/animation.css';
  composes: move-animation-before from '../../styles/animation.css';
  composes: move-animation-after from '../../styles/animation.css';

  position: relative;

  width: 100%;
  height: 170px;
  padding: 0;

  border: none;
  border-radius: 6px;

  overflow: hidden;

  font: inherit;
  color: inherit;

  background-color: transparent;

  cursor: pointer;

  animation-duration: 4s;
  animation-iteration-count: infinite;
  transition-timing-function: linear;
}

.trailerButton::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;

  width: 100%;
  height: 100%;

  border-left: 1px solid rgba(255, 0, 0, 0.3);
  border-radius: 6px;

  overflow: hidden;

  animation-delay: 3s;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transition: opacity var(--transition-props);
}

.trailerButton::before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;

  width: 100%;
  height: 100%;

  border-left: 3px solid rgba(0, 0, 255, 0.5);
  border-radius: 6px;

  overflow: hidden;

  animation-duration: 14s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  transition: opacity var(--transition-props);
}

.trailerButton img {
  width: 100%;
  height: 100%;

  object-fit: cover;

  filter: grayscale(0.9);
  opacity: 0.7;

  border-radius: 6px;

  transition: filter var(--transition-props), opacity var(--transition-props);
}

.trailerButton:hover img {
  filter: none;
  opacity: 1;
}

.trailerButton svg {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;

  transform: translate(-50%, -50%);

  fill: var(--accent-color-dark);

  transition: fill var(--transition-props);
}

.trailerButton:hover {
  animation: none;
}

.trailerButton:hover svg {
  fill: transparent;
}

.trailerButton:hover::before,
.trailerButton:hover::after {
  opacity: 0;
}

@media tablet-viewport {
  .trailerButton {
    height: 120px;
  }
}

@media mobile-viewport {
  .trailerButton {
    height: 80px;
  }
}
