@value tablet-viewport, mobile-viewport, desktop-s-viewport from "../../styles/breakpoints.css";

.container {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-auto-rows: auto;

  padding-bottom: var(--lg-indent);
}

.posterBox {
  grid-column: 1;
  grid-row: 1 / 5;
  padding-right: var(--lg-indent);
  width: 100%;
}

.poster {
  position: relative;

  width: 100%;
  max-width: 320px;
  min-width: 210px;
  height: 100%;
  max-height: 480px;
  min-height: 350px;

  border-radius: 6px;

  overflow: hidden;
}

.poster img {
  display: block;
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.countries span {
  margin-right: 10px;
}

.countries img {
  margin-right: 5px;
}

.rating {
  composes: rating from '../card/cardAnnounce.module.css';

  position: absolute;
  top: 0;
  right: 0;
}

.titleBox {
  grid-column: 2/3;
  grid-row: 1;
}

.descBox {
  width: 100%;
  grid-column: 2;
  margin-top: auto;
}



@media tablet-viewport {
  .container {
    grid-template-columns: 50% 50%;
    gap: var(--sm-indent);
  }

  .posterBox {
    grid-column: 1;
    grid-row: 1 / 3;

    padding-right: var(--sm-indent);
  }

  .poster {
    max-width: 100%;
    max-height: 650px;
  }

  .titleBox {
    display: flex;
    align-items: flex-end;

    grid-column: 2;
    grid-row: 1;
  }

  .details {
    display: flex;
    flex-direction: column;
  }

  .trailersBox {
    grid-column: 1 / 3;
  }
}

@media mobile-viewport {
  .container {
    display: flex;
    flex-direction: column;
  }

  .posterBox {
    display: flex;
  }

  .poster {
    max-width: 400px;
    margin-right: auto;
    margin-left: auto;
  }

  .trailerButton {
    height: 80px;
  }
}
