@value tablet-viewport, mobile-viewport from "../../../styles/breakpoints.css";

.logo {
  composes: glitch-first-after from '../../../styles/animation.css';
  composes: glitch-second-before from '../../../styles/animation.css';

  position: relative;

  margin: 0;

  font-size: 35px;
  line-height: 42px;
  color: var(--contrast-color);
}

@media tablet-viewport {
  .logo {
    font-size: 24px;
    line-height: 29px;
  }
}

@media mobile-viewport {
  .logo {
    font-size: 18px;
    line-height: 22px;
  }
}

.logo::before,
.logo::after {
  content: attr(text);

  position: absolute;
  top: 0;

  width: 100%;
  height: 100%;

  color: var(--contrast-color);

  background-color: var(--base-color);

  overflow: hidden;
}

.logo::before {
  left: -3px;
  text-shadow: -3px 0 red;

  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

.logo::after {
  left: 3px;
  text-shadow: 3px 0 var(--accent-color);

  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
