.panel {
  padding-top: var(--sm-indent);
  overflow: hidden;
}

.panelExpanded {
  composes: fade-in from '../../styles/animation.css';

  animation-duration: 0.6s;
  animation-fill-mode: both;
}

.accordion {
  width: 100%;
}

.accordionButton {
  display: inline-flex;
  align-items: center;
  padding: 0;

  font-size: var(--sm-text);

  background-color: transparent;

  box-shadow: none;
  border: 0;

  fill: var(--accent-color-dark);

  outline: none;

  transition: 
  color var(--transition-props),
  fill var(--transition-props), 
  opacity var(--transition-props);
}

.accordionButton:hover:not(:active) {
  opacity: 0.7;
}

.accordionButton:focus {
  color: var(--base-color-light);
  fill: var(--accent-color-light);
}

.accordionButton span::after {
  content: '';

  display: block;
  
  width: 100%;
  height: 1px;

  background-image: linear-gradient(to right, var(--base-color) 0, var(--base-color) 2px, transparent 3px, transparent 4px);
  background-size: 4px 100%;
}

.accordionButton svg {
  align-self: flex-end;

  width: var(--sm-text);
  height: auto;
  margin-left: 0.5em;
  transform: scaleY(1);

  transition: transform var(--transition-props);
}

.buttonExpanded svg {
  transform: scaleY(-1);
}